/*==================== Content ====================*/
div.content .wrapper div.grid-view {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 244px);
    margin: 0 0 30px 0;
}

div.wrapper .grid-view div.grid {
    overflow: hidden;
}

div.grid a div.preview {
    background: #c7c7c7;
    box-shadow: 2px 2px 2px #c7c7c7;
    height: 138px;
    overflow: hidden;
}

div.grid a .preview img {
    height: 100%;
    object-fit: cover;
    transition-duration: 0.2s;
    width: 100%;
}

div.grid:hover > a .preview img {
    transform: scale(1.2);
}

div.grid a div.play {
    height: 30px;
    margin: -84px 0 59px 0;
    position: relative;
    transition-duration: 0.2s;
    transform: translateX(-100%);
}

div.grid:hover > a div.play {
    transform: translateX(0);
}

div.grid a .play div.image {
    background: url(../image/library/icon/play-icon-blue.png) center center no-repeat;
    background-size: auto 100%;
    cursor: pointer;
    height: 30px;
    margin: 0 auto;
    position: relative;
    transition-duration: 0.2s;
    width: 30px;
}

div.grid a .description h2 {
    color: #000;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.grid a .description p {
    color: #000;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.content .wrapper div.watch {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 20px;
    grid-template-columns: 900px 380px;
}

div.wrapper .watch div.video {
    grid-column: 1/2;
    grid-row: 1/2;
}

div.watch .video div.file {
    margin: 0 0 10px 0;
}

div.video .file iframe {
    background: #c7c7c7;
    box-shadow: 2px 2px 2px #c7c7c7;
    height: 507px;
    width: 100%;
}

div.watch .video h2 {
    font-weight: 400;
    line-height: 30px;
    max-height: 60px;
    margin: 0 0 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.watch .video div.rating {
    margin: 0 0 20px 0;
}

div.video .rating p.view,
div.video .rating p.total {
    float: left;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    margin: 0 10px 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}

div.video .rating p.member {
    cursor: pointer;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0 10px 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
}

div.video .rating p.like {
    float: right;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    margin: 0 10px 5px 0;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80px;
}

div.video .rating p.dislike {
    float: right;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    margin: 0 0 5px 0;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80px;
}

div.video .description h3 {
    margin: 0 0 10px 0;
}

div.description .story p {
    margin: 0 0 5px 0;
}

div.wrapper .watch div.related {
    grid-column: 2/3;
    grid-row: 1/3;
}

div.related a div.item {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 10px;
    grid-template-columns: 120px 250px;
    margin: 0 0 10px 0;
}

div.related a .item div.picture {
    background: #c7c7c7;
    box-shadow: 2px 2px 2px #c7c7c7;
    height: 67px;
}

div.item .picture img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

div.item .description h3 {
    color: #000;
    line-height: 21px;
    margin: 0 0 5px 0;
    max-height: 42px;
    min-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.item .description p {
    color: #000;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.wrapper .watch div.comment {
    grid-column: 1/2;
    grid-row: 2/3;
}

div.watch .comment h3 {
    margin: 0 0 10px 0;
}

div.watch .comment div.item {
    margin: 0 0 10px 0;
}

div.comment .item div.picture {
    background: #c7c7c7;
    border-radius: 50%;
    float: left;
    height: 40px;
    margin: 0 10px 0 0;
    overflow: hidden;
    width: 40px;
}

div.comment .item div.value {
    float: left;
    width: 850px;
}

div.value form button {
    background: rgba(21, 96, 198, 1);
    border: none;
    border-radius: 5px;
    color: #fff;
    float: right;
    height: 30px;
    margin: 10px 0 0 0;
    width: 100px;
}

div.value form button:hover {
    background: rgba(21, 96, 198, 0.7);
}

div.item .value p {
    margin: 0 0 10px 0;
}

div.item .value p.member {
    font-weight: 600;
    margin: 0 0 5px 0;
}

div.value .member span {
    color: #777;
    font-weight: 400;
    margin: 0 0 0 10px;
}

@media only screen and (max-width: 359px) {

    /*==================== Content ====================*/
    div.content .wrapper div.grid-view {
        grid-template-columns: 300px;
    }

    div.grid a div.preview {
        height: 169px;
    }

    div.grid a div.play {
        margin: -99px 0 74px 0;
    }

    div.content .wrapper div.watch {
        grid-template-columns: 300px;
    }

    div.video .file iframe {
        height: 169px;
    }

    div.video .rating p.view {
        float: none;
    }

    div.video .rating p.like,
    div.video .rating p.dislike {
        float: left;
        text-align: left;
    }

    div.wrapper .watch div.related {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    div.related a div.item {
        grid-template-columns: 120px 170px;
    }

    div.wrapper .watch div.comment {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    div.comment .item div.value {
        width: 250px;
    }

}

@media only screen and (min-width: 360px) and (max-width: 479px) {

    /*==================== Content ====================*/
    div.content .wrapper div.grid-view {
        grid-template-columns: 320px;
    }

    div.grid a div.preview {
        height: 180px;
    }

    div.grid a div.play {
        margin: -105px 0 79px 0;
    }

    div.content .wrapper div.watch {
        grid-template-columns: 320px;
    }

    div.video .file iframe {
        height: 180px;
    }

    div.video .rating p.view {
        float: none;
    }

    div.video .rating p.like,
    div.video .rating p.dislike {
        float: left;
        text-align: left;
    }

    div.wrapper .watch div.related {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    div.related a div.item {
        grid-template-columns: 120px 190px;
    }

    div.wrapper .watch div.comment {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    div.comment .item div.value {
        width: 270px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 599px) {

    /*==================== Content ====================*/
    div.content .wrapper div.grid-view {
        grid-template-columns: repeat(2, 210px);
    }

    div.grid a div.preview {
        height: 119px;
    }

    div.grid a div.play {
        margin: -74px 0 49px 0;
    }

    div.content .wrapper div.watch {
        grid-template-columns: 440px;
    }

    div.video .file iframe {
        height: 248px;
    }

    div.video .rating p.like,
    div.video .rating p.dislike {
        float: left;
        text-align: left;
    }

    div.wrapper .watch div.related {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    div.related a div.item {
        grid-template-columns: 120px 310px;
    }

    div.wrapper .watch div.comment {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    div.comment .item div.value {
        width: 390px;
    }

}

@media only screen and (min-width: 600px) and (max-width: 639px) {

    /*==================== Content ====================*/
    div.content .wrapper div.grid-view {
        grid-template-columns: repeat(2, 270px);
    }

    div.grid a div.preview {
        height: 152px;
    }

    div.grid a div.play {
        margin: -91px 0 66px 0;
    }

    div.content .wrapper div.watch {
        grid-template-columns: 560px;
    }

    div.video .file iframe {
        height: 315px;
    }

    div.video .rating p.like,
    div.video .rating p.dislike {
        float: left;
        text-align: left;
    }

    div.wrapper .watch div.related {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    div.related a div.item {
        grid-template-columns: 120px 430px;
    }

    div.wrapper .watch div.comment {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    div.comment .item div.value {
        width: 490px;
    }

}

@media only screen and (min-width: 640px) and (max-width: 767px) {

    /*==================== Content ====================*/
    div.content .wrapper div.grid-view {
        grid-template-columns: repeat(2, 290px);
    }

    div.grid a div.preview {
        height: 164px;
    }

    div.grid a div.play {
        margin: -97px 0 72px 0;
    }

    div.content .wrapper div.watch {
        grid-template-columns: 600px;
    }

    div.video .file iframe {
        height: 338px;
    }

    div.video .rating p.like,
    div.video .rating p.dislike {
        float: left;
        text-align: left;
    }

    div.wrapper .watch div.related {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    div.related a div.item {
        grid-template-columns: 120px 470px;
    }

    div.wrapper .watch div.comment {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    div.comment .item div.value {
        width: 530px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 799px) {

    /*==================== Content ====================*/
    div.content .wrapper div.grid-view {
        grid-template-columns: repeat(3, 229.33px);
    }

    div.grid a div.preview {
        height: 130px;
    }

    div.grid a div.play {
        margin: -80px 0 55px 0;
    }

    div.content .wrapper div.watch {
        grid-template-columns: 508px 200px;
    }

    div.video .file iframe {
        height: 286px;
    }

    div.video .rating p.like,
    div.video .rating p.dislike {
        float: left;
        text-align: left;
    }

    div.related a div.item {
        grid-template-columns: 120px 70px;
    }

    div.comment .item div.value {
        width: 450px;
    }

}

@media only screen and (min-width: 800px) and (max-width: 899px) {

    /*==================== Content ====================*/
    div.content .wrapper div.grid-view {
        grid-template-columns: repeat(3, 240px);
    }

    div.grid a div.preview {
        height: 135px;
    }

    div.grid a div.play {
        margin: -82px 0 57px 0;
    }

    div.content .wrapper div.watch {
        grid-template-columns: 540px 200px;
    }

    div.video .file iframe {
        height: 304px;
    }

    div.video .rating p.like,
    div.video .rating p.dislike {
        float: left;
        text-align: left;
    }

    div.related a div.item {
        grid-template-columns: 120px 70px;
    }

    div.comment .item div.value {
        width: 490px;
    }

}

@media only screen and (min-width: 900px) and (max-width: 979px) {

    /*==================== Content ====================*/
    div.content .wrapper div.grid-view {
        grid-template-columns: repeat(3, 273.33px);
    }

    div.grid a div.preview {
        height: 155px;
    }

    div.grid a div.play {
        margin: -88px 0 63px 0;
    }

    div.content .wrapper div.watch {
        grid-template-columns: 640px 200px;
    }

    div.video .file iframe {
        height: 360px;
    }

    div.related a div.item {
        grid-template-columns: 120px 70px;
    }

    div.comment .item div.value {
        width: 590px;
    }

}

@media only screen and (min-width: 980px) and (max-width: 1023px) {

    /*==================== Content ====================*/
    div.content .wrapper div.grid-view {
        grid-template-columns: repeat(3, 300px);
    }

    div.grid a div.preview {
        height: 169px;
    }

    div.grid a div.play {
        margin: -99px 0 74px 0;
    }

    div.content .wrapper div.watch {
        grid-template-columns: 720px 200px;
    }

    div.video .file iframe {
        height: 405px;
    }

    div.related a div.item {
        grid-template-columns: 120px 70px;
    }

    div.comment .item div.value {
        width: 670px;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {

    /*==================== Content ====================*/
    div.content .wrapper div.grid-view {
        grid-template-columns: repeat(3, 314.66px);
    }

    div.grid a div.preview {
        height: 178px;
    }

    div.grid a div.play {
        margin: -104px 0 79px 0;
    }

    div.content .wrapper div.watch {
        grid-template-columns: 764px 200px;
    }

    div.video .file iframe {
        height: 430px;
    }

    div.related a div.item {
        grid-template-columns: 120px 70px;
    }

    div.comment .item div.value {
        width: 714px;
    }

}

@media only screen and (min-width: 1280px) and (max-width: 1359px) {

    /*==================== Content ====================*/
    div.content .wrapper div.grid-view {
        grid-template-columns: repeat(5, 232px);
    }

    div.grid a div.preview {
        height: 131px;
    }

    div.grid a div.play {
        margin: -80px 0 55px 0;
    }

    div.content .wrapper div.watch {
        grid-template-columns: 840px 380px;
    }

    div.video .file iframe {
        height: 473px;
    }

    div.comment .item div.value {
        width: 790px;
    }

}

@media only screen and (min-width: 1360px) and (max-width: 1599px) {

    /* Not set yet */

}

@media only screen and (min-width: 1600px) and (max-width: 1919px) {

    /*==================== Content ====================*/
    div.content .wrapper div.grid-view {
        grid-template-columns: repeat(5, 284px);
    }

    div.grid a div.preview {
        height: 160px;
    }

    div.grid a div.play {
        margin: -95px 0 70px 0;
    }

    div.content .wrapper div.watch {
        grid-template-columns: 1000px 480px;
    }

    div.video .file iframe {
        height: 563px;
    }

    div.related a div.item {
        grid-template-columns: 120px 350px;
    }

    div.comment .item div.value {
        float: left;
        width: 950px;
    }

}

@media only screen and (min-width: 1920px) {

    /*==================== Content ====================*/
    div.content .wrapper div.grid-view {
        grid-template-columns: repeat(5, 344px);
    }

    div.grid a div.preview {
        height: 194px;
    }

    div.grid a div.play {
        height: 50px;
        margin: -122px 0 77px 0;
    }

    div.grid a .play div.image {
        height: 50px;
        width: 50px;
    }

    div.content .wrapper div.watch {
        grid-template-columns: 1300px 480px;
    }

    div.video .file iframe {
        height: 732px;
    }

    div.related a div.item {
        grid-template-columns: 120px 350px;
    }

    div.comment .item div.value {
        float: left;
        width: 1250px;
    }

}
