/*==================== Content ====================*/
div.content .wrapper div.forget-password {
    box-shadow: 2px 2px 2px #c7c7c7;
    margin: 0 auto;
    padding: 20px 25px;
    width: 400px;
}

div.wrapper .forget-password h2 {
    line-height: 30px;
    margin: 0 0 10px 0;
    text-align: center;
    text-transform: uppercase;
}

div.forget-password form p.title {
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

div.forget-password form .title span.required {
    background: none;
    color: #af2f2f;
    display: inline;
    margin: 0;
}

div.forget-password form input.data {
    border: 1px solid #c7c7c7;
    font-weight: 600;
    height: 30px;
    margin: 0 0 5px 0;
    padding: 5px 10px;
    width: 378px;
}

div.forget-password form div.captcha-input {
    float: left;
    margin: 0 10px 0 0;
    width: 240px;
}

div.forget-password form .captcha-input input.data {
    width: 218px;
}

div.forget-password form div.captcha-image {
    float: left;
    height: 42px;
    margin: 0 10px 0 0;
    width: 120px;
}

div.forget-password form p.refresh-captcha {
    float: left;
    line-height: 42px;
    margin: 0;
    width: 20px;
}

div.forget-password form p.response {
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    margin: 0 0 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.forget-password form p.response.error {
    color: #af2f2f;
}

div.forget-password form button.forget-password {
    background: rgba(221, 0, 63, 1);
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    width: 100%;
}

div.forget-password form button.forget-password:hover {
    background: rgba(221, 0, 63, 0.7);
}
